{% extends "base.html" %} 
{% block content %}
{% load static %}
<!-- Banner -->
<div id="loading" style="display: none;">
	<img src="{% static 'img/Loading.gif' %}"  alt="loading">	
	<h3>Scanning URL ... <br>This operation takes up to 10 minutes.</h3>
</div>

<section style="margin-bottom: 10%;">
	<header class="main">
	<h1 style="text-align: center; margin-bottom: 2em;margin-top: 1em;">Vuln Detector</h1>
	<section id="search" class="alt" style="width: 60%; margin: 0 auto;">
		<form action="/vulndetecting/" method="POST">
			{% csrf_token %}
			<input type="text" name="url" id="url" placeholder="Enter Your Target URL" />
			<br>
			<h2 style="float:left">option: </h2>
			<input type="text" name="cookie" id="cookie" placeholder="Cookies to send ex) PHPSESSID=QWFbiqq " style="width: 40%; float:left; margin-left:4%"/>
			
			<div class="select-wrapper">
			<select name="level" style="width: 40%; float: right;">
				<option value="2">Level of depth to traverse (default:2)</option>
				<option value="1">level 1</option>
				<option value="2">level 2</option>
				<option value="3">level 3</option>
				<option value="4">level 4</option>
				<option value="5">level 5</option>
			</select>
			</div>
			<button id="detect" type="submit" onclick="Loading()"><i class="fas fa-search"></i></button>
		</form>
	</section>
	</header>
</section>
<section>
	<h3>Vulnerability Diagnosis List</h3>
	<br/><br/>
	<div class="detectcontainer">
		<div class="item2"><img src="{% static 'img/injection.png' %}" class="diag"/><br>SQL Injection</div>
		<div class="item2"><img src="{% static 'img/xss.png' %}" class="diag"/><br>Cross-site Scripting</div>
		<div class="item2"><img src="{% static 'img/lfi.png' %}"  class="diag"/><br>Local/Remote File Inclusion</div>
		<div class="item2"><img src="{% static 'img/ci.png' %}"  class="diag"/><br>Command Injection</div>
	</div>
</section>
<section>
	<h3 style="text-align: center;">How to use</h3>
	<br/>
	<div class="detectcontainer">
		<div class="item2">1. Enter The Target URL.<br>2. Enter The Cookie of the site <br>ex) {'PHPSESSID': 'vt91ig60vqh905pk6ldve9efl4', 'security': 'low'} <br><a href="https://kb.iu.edu/d/ajfi" style="cursor:pointer"> ? how to view the cookie ? </a><br>3. Choose the Level of depth to traverse <br>3. Press the Search Button</div>
	</div>
	<br/><br/>
	<div style="text-align: center; font-size:20px; padding-top: 50px; padding-bottom: 50px;">
		<a href="javascript:topFunction();"><i class="fas fa-arrow-alt-circle-up"> Back to top</i></a>
	</div>
	<br/>
</section>
<script>
	$(document).ready(function() {
	    $('[data-toggle="popover"]').popover({container: "data-content"});
	});
	function Loading(){
		document.getElementById('loading').style.display='block';
	}
</script>
{% endblock %}