{% extends "base.html" %} 
{% block content %}
{% load static %}
<!-- Banner -->
<section style="margin-bottom: 10%;">
	<header class="main">
	<h1 style="text-align: center; margin-bottom: 2em;margin-top: 1em;">Subscribe WeakEnd</h1>
	<section id="search" class="alt" style="width: 60%; margin: 0 auto; text-align: center;">
		<form method="post" action="#">
			<input type="text" name="query" id="query" placeholder="Enter Your E-mail address" style="margin-bottom: 20px;"/>
			<input type="text" name="query" id="query" placeholder="Enter Your Target URL" style="margin-bottom: 40px;"/>
			<div style="text-align: center; height: 20px;">
				<h2 style="display: inline-block; margin-right:1%;">One time for </h2> 
				<div class="select-wrapper" style="display:inline-block; width:12%; margin-right:1%;">
					<select name="term" id="term" style="font-weight: bold; color:black;">
						<option value="1">One</option>
						<option value="2">Two</option>
						<option value="3">Three</option>
						<option value="4">Four</option>
						<option value="5">Five</option>
						<option value="6">Six</option>
						<option value="7">Seven</option>
						<option value="8">Eight</option>
						<option value="9">Nine</option>
						<option value="10">Ten</option>
					</select>
				</div>
				<div class="select-wrapper" style="display:inline-block; width:12%;">
					<select name="term" id="term" style="font-weight: bold; color:black;">
						<option value="1">Week</option>
						<option value="1">Month</option>
						<option value="1">Year</option>
					</select>
				</div>
			</div>
			<br>
			<br>
			<br>
			<button type="submit" style="margin: 0 auto; box-shadow: none; background-color: inherit;"><img src="{% static 'img/subscribe.png' %}" style="width: 200px;"></button>
		</form>
	</section>
	</header>
</section>
<section>
	<h3 style="text-align: center;">If you subscribe We Provide...</h3>
	<br/>
	<div class="detectcontainer">
		<div class="item2">1. We Detect vuln part of your Web site.<br>2. We will Send the vulnerability report to the email you entered.<br>3. You can choose the term of the email we send.<br>4. You can cancel the subscribe on My page<br>5. Only one subscribe on one E-mail or account<br>6. The Subscribe will be provided for 3 times.<br>7. After 3 times, subscribe service will be end</div>
	</div>
	<br/><br/>
	<br/>
	<div style="text-align: center; font-size:20px; padding-top: 50px; padding-bottom: 50px;">
		<a href="javascript:topFunction();"><i class="fas fa-arrow-alt-circle-up"> Back to top</i></a>
	</div>
</section>
{% endblock content %}