{% extends "base.html" %} 
{% block content %}
{% load static %}
<!-- Banner -->
<section>
	<header class="main">
		<h1 style="text-align: center; margin-bottom: 1em;">Vuln Detected</h1>
		<section style="margin: 0 5% 0 5%; height: 800px;">
		<div style="width: 45%; position:relative; height: 700px; padding: 5px; margin-right: 10%; float:left; border: 1px black solid; border-radius: 0.375em;">
			<h2 style="text-align: center;">Vuln Lists</h2>
			{% for key, value in outputs.items %}
				{% for i in value %}
					<div class="vulnlist">
						{% if key == 'LFI' %}
							<h3>Local File Inclusion #{{forloop.counter}}</h3>
						{% elif key == 'RFI' %}
							<h3>Remote File Inclusion #{{forloop.counter}}</h3>
						{% elif key == 'CI' %}
							<h3>Command Injection #{{forloop.counter}}</h3>
						{% endif %}
						<button class="search_button" id={{key}} value= {{forloop.counter0}}>View</button>
					</div>
				{% endfor %}
			{% endfor %}
			<button onclick="location.href='/reports/{{new_id}}';" style="position: absolute; left: 50%; transform:translate(-50%, -50%); bottom:0px;">View Vulnerability Diagnostics Report</button>
		</div>
		<div style="width: 45%; position:relative; height: 700px; padding: 5px; float:left; border: 1px black solid; border-radius: 0.375em;">
			<h2 style="text-align: center;">Vuln Points</h2>
			<textarea id="aftercode" style="resize: none; height: 520px;">Vuln Points</textarea>
			<button onclick="location.href='/patch';" id="patch_button"style="position: absolute; left: 50%; display: none; transform:translate(-50%, -50%); bottom:0px;" >Patch Vuln Points</button>
		</div>
		</section>
	</header>
</section>
<section>
	<h3 style="text-align: center;">How to use</h3>
	<br/>
	<div class="detectcontainer">
		<div class="item2">1. Vuln Lists on left side means Vuln type of Your Website.<br>2. if You click the green button, You can see vuln part of your Website.<br>3. The Vuln part of the Website described by red background color of your Website.<br>4. Remember your Vuln part, press the patch button. We can help your patch.<br>5. If you click the bottom side red button, you can view a Vuln report about your Website.</div>
	</div>
	<br/><br/>
	<h3 style="text-align: center;">Caution</h3>
	<br/>
	<div class="detectcontainer">
		<div class="item2">For more accurative vuln code patch, You have to remember where the Vuln appeared<br>#1,#2 means same type of Vuln skill appeared on other pages.</div>
	</div>
	<div style="text-align: center; font-size:20px; padding-top: 50px; padding-bottom: 50px;">
		<a href="javascript:topFunction();"><i class="fas fa-arrow-alt-circle-up"> Back to top</i></a>
	</div>
</section>
<input type="hidden" id="new_id" name="new_id" value={{new_id}}>
<input type="hidden" id="patch_id" name="patch_id" value='LFI'>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script>
	$('.search_button').click(function(){
		var search_key = this.value
		var search_id = this.id
		var new_id = document.getElementById('new_id').value

		$.ajax({
			url:'vulngive/',
			data : { 'search_key':search_key,'search_id':search_id,'new_id':new_id},
			success:function(output_data){
				var method=JSON.stringify(output_data['output_data']['method']);
				var url=JSON.stringify(output_data['output_data']['url']);
				var data=JSON.stringify(output_data['output_data']['data']);
				$("#patch_id").val(search_id);
				$("#patch_button").show();
				//if data=GET method
				if(data == null){
					$('#aftercode').html("method : "+method+"\npayload: " + url );
				}
				else{
					$('#aftercode').html("method : "+method+"\naction URL: " + url + "\nparameter: "+ data);
				}
			}
		})
	})
	
</script>

{% endblock content %}